.main {
  font-family: "Comic Sans MS", sans-serif;
}
.main .game2048 .color-zero {
  background: #bc8f8f;
}
.main .game2048 .color-two {
  background: #f2f1ec;
  color: #bc8f8f;
}
.main .game2048 .color-four {
  background: #ddd4c9;
  color: #bc8f8f;
}
.main .game2048 .color-eight {
  background: #f2a039;
  color: white;
}
.main .game2048 .color-sixteen {
  background: #ea8c17;
  color: white;
}
.main .game2048 .color-thirtytwo {
  background: #ea6b41;
  color: white;
}
.main .game2048 .color-sixtyfour {
  background: #e34009;
  color: white;
}
.main .game2048 .color-onetwoeight {
  background: #eada7f;
  color: white;
  font-size: 40px;
}
.main .game2048 .color-twofivesix {
  background: #eac906;
  color: white;
  font-size: 40px;
}
.main .game2048 .color-fiveonetwo {
  background: #ffe64f;
  color: white;
  font-size: 40px;
}
.main .game2048 .color-onezerotwofour {
  background: #f0d012;
  color: white;
}
.main .game2048 .color-twozerofoureight {
  background: #f9d500;
  color: white;
}
.main .game2048 .color-two p, .main .game2048 .color-four p, .main .game2048 .color-eight p, .main .game2048 .color-sixteen p, .main .game2048 .color-thirtytwo p, .main .game2048 .color-sixtyfour p {
  font-size: 64px;
  font-weight: bolder;
  margin: auto;
}
.main .game2048 .color-onetwoeight p, .main .game2048 .color-fiveonetwo p, .main .game2048 .color-twofivesix p {
  font-size: 40px;
  font-weight: bolder;
  margin: 0.5em auto;
}
.main .game2048-header {
  width: 30em;
  min-height: 6em;
  margin: 0 auto;
}
.main .game2048-header__title {
  float: left;
  color: #bc8f8f;
  font-size: 48px;
}
.main .game2048-header-score {
  color: #fff4b6;
  float: right;
}
.main .game2048-header-score__current {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  background: #bc8f8f;
  min-height: 5em;
}
.main .game2048-header-score__best {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  background: #eca053;
  min-height: 5em;
}
.main .game2048-header-score .score-title {
  display: block;
  margin: 0 auto;
}
.main .game2048-header-score .score-value {
  display: block;
  text-align: center;
  font-size: 36px;
}
.main .game2048-action {
  position: relative;
  min-height: 3em;
  width: 30em;
  margin: 1em auto;
}
.main .game2048-action__button-new-game {
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
  border-radius: 3px;
  background: #bc8f8f;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.main .game2048-board {
  height: 26em;
  width: 26em;
  background: #d2b48c;
  grid-gap: 0.6em;
  border-radius: 5px;
  margin: 1em auto;
  display: grid;
  padding: 0.6em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /*&__square-fill {
      margin:0 0 0 -25px;
      transition:margin 1s;
  }
  &__square-fill.is-in {
      margin-left:0;
  }*/
}
.main .game2048-board__square {
  background: #bc8f8f;
  border-radius: 3px;
  text-align: center;
  max-width: 6em;
  max-height: 6em;
}
.main-game-end {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-game-end-content {
  background-color: #fefefe;
  margin: 30% auto;
  width: 80%;
  text-align: center;
  padding: 1em;
  color: #bc8f8f;
  z-index: 1;
  /*&__button {
      border-radius:3px;
      background:#bc8f8f;
      border:none;
      padding:10px 15px;
      color:white;
      cursor:pointer;
      font-size:16px;
  }*/
}
.main-game-end-content .new-game-timer {
  font-size: 48px;
  color: #bc8f8f;
  text-align: center;
}
.main-game-end.show {
  display: block;
}

/*# sourceMappingURL=index.css.map */
